.main__fileuploadlist {
  border-right: 1px solid #ebe7fb;
  padding: 0 40px 0 0px;
}

.fileuploadlist__items {
  margin-top: 30px;
  overflow: auto;
  max-height: calc(100vh - calc(100vh / 4));
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.custom-button {
  background-color: #4CAF50;
  /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.custom-button:hover {
  background-color: #45a049;
}